.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: #1b6498;
    border: 1px solid #FFF;
    padding: 4px 10px 4px 10px;
    /* display: block; */
    border-radius: 5px;
    transition: 0.3s ease;
    font: inherit;
    vertical-align: baseline;
    -webkit-transition: 0.3s ease;
    box-sizing: border-box;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #1b6498;
    background: white;
    border: 1px solid #1b6498;
}

.my-tab {
    
    /* padding-left: 6%; */
}